In [1]:
print("hello world")

hello world

In [2]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 08C9-526F

 Directory of C:\Users\karth\pasham

06/24/2021  01:30 PM    <DIR>          .
06/24/2021  01:30 PM    <DIR>          ..
06/24/2021  01:30 PM    <DIR>          .ipynb_checkpoints
06/24/2021  01:30 PM                72 Untitled.ipynb
               1 File(s)             72 bytes
               3 Dir(s)  134,220,083,200 bytes free

In [3]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 08C9-526F

 Directory of C:\Users\karth\pasham

06/24/2021  01:31 PM    <DIR>          .
06/24/2021  01:31 PM    <DIR>          ..
06/24/2021  01:30 PM    <DIR>          .ipynb_checkpoints
06/24/2021  02:26 AM            11,328 heart.csv
06/24/2021  01:30 PM                72 Untitled.ipynb
               2 File(s)         11,400 bytes
               3 Dir(s)  134,218,534,912 bytes free

In [4]:
import pandas as pd

In [5]:
data=pd.read_csv("heart.csv")

In [6]:
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [7]:
!pip freeze > requiremnt.txt